@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Parisienne&display=swap');

*,
html body .themed-element,
html body .themed-element * {
  font-family: "Crimson Pro", "Times New Roman", Times, serif !important;
  font-size: 22px !important;
}


button {
  box-shadow: none;
}

a.fixed,
a[href="https://rsvpify.com/?utm_source=hyperloop&utm_medium=embedded_form_header&utm_campaign=courtneyandmatt"] {
  display: none;
}

.text-sm {
  font-size: 22px;
}

.w-full.h-full.overflow-y-auto .absolute.top-0.w-full.z-20 {
  display: none;
}


div[data-index="2"] .mb-2.break-words.themed-element.themed-element-form-text,
div[data-index="3"] .mb-2.break-words.themed-element.themed-element-form-text {
  white-space: pre-line;
  word-break: break-word;
  font-feature-settings: "liga" 0;
}

.rounded-md.relative.transition-all.mt-20.mb-24.mx-4.themed-element.undefined.themed-element- {
  margin-top: 0rem;
}


.themed-element-form-title-text.themed-element-form-accent {
  font-family: "Parisienne", cursive !important;
  font-weight: 300 !important;
  font-size: 30px !important;
}

div[data-index="0"] .themed-element-form-background .text-2xl {
  font-size: 33px !important;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

div[data-index="0"] .themed-element-form-background>div:nth-child(2) {
  text-align: center;
  font-size: 20px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

div[data-index="0"] .themed-element-form-title-text.themed-element-form-accent {
  border: none;
}


div[data-index="0"] .themed-element-form-title-text.themed-element-form-accent .font-semibold {
  margin-bottom: 0;
}

div[data-index="0"] .form-field-wrapper .mt-4 {
  margin-top: 0;
}


div[data-index="0"] .form-field-wrapper .leading-normal {
  line-height: 0.8rem;
}


.form-field-wrapper .rounded-full {
  width: 1.5rem;
  height: 1.5rem;
}

.form-field-wrapper .rounded-full .option-selected {
  width: 0.8rem;
  height: 0.8rem;
}

.shadow-md {
  box-shadow: none !important;
}

.vb-dragger-styler {
  background-color: #e2e0e0 !important;
}