@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Parisienne&display=swap");

*,
html body .themed-element,
html body .themed-element * {
  font-family: "Crimson Pro", "Times New Roman", Times, serif !important;
  font-size: 22px !important;
  line-height: 1;
}

button {
  box-shadow: none;
}

a.fixed,
a[href="https://rsvpify.com/?utm_source=hyperloop&utm_medium=embedded_form_header&utm_campaign=courtneyandmatt"] {
  display: none;
}

.text-sm {
  font-size: 22px;
}

.w-full.h-full.overflow-y-auto .absolute.top-0.w-full.z-20 {
  display: none;
}

.rounded-md.relative.transition-all.mt-20.mb-24.mx-4.themed-element.undefined.themed-element- {
  margin-top: 0rem;
}

.themed-element-form-background
  > .themed-element-form-title-text.themed-element-form-accent:first-child {
  font-weight: 300 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}

/* Radios */
.form-field-wrapper .rounded-full:not(.option-selected) {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 5px;
}

.form-field-wrapper .rounded-full .option-selected {
  width: 0.8rem;
  height: 0.8rem;
}

/* Header everywhere else */
.rsvp-form >div > div> div > div:not([data-index='0']) .themed-element-form-background .text-2xl {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 28px !important;

}

/* Header on Welcome and Confirmation Screens */
.rsvp-form >div > div> div > div[data-index='0'] .themed-element-form-background .text-2xl {
  font-size: 45px !important;
  line-height: 1.5;
  /* border-bottom: none; */
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Text below Title on welcome screen */
.rsvp-form >div > div> div > div[data-index='0'] .themed-element-form-background .mb-2.break-words.themed-element.themed-element-form-text {
    margin-top:  0;
}


.themed-element-form-background
  .h-full.w-full
  div:not(:first-child)
  button.themed-element-form-button {
  margin-top: 20px;
}

.themed-element-form-text .my-1 {
  margin-top: 10px;
}

.shadow-md {
  box-shadow: none !important;
}

input {
  background-color: white !important;
}

.vb-dragger-styler {
  background-color: #e2e0e0 !important;
}


div[data-index="0"]
  .themed-element-form-background
  > div.mb-2.break-words.themed-element.themed-element-form-text {
  text-align: center;
  font-size: 20px !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

div[data-index="0"] .z-10.form-field-wrapper > .block.w-full > .mt-6 > .themed-element-form-title-text.themed-element-form-accent {
  border: none;
}

div[data-index="0"]
  .z-10.form-field-wrapper
  .themed-element-form-title-text.themed-element-form-accent
  .font-semibold {
  margin-bottom: 0;
}

div[data-index="0"] .mt-6 {
  margin-top: 2rem;
}

div[data-index="0"] .form-field-wrapper .mt-4 {
  margin-top: 0;
}

div[data-index="0"] .form-field-wrapper .leading-normal {
  line-height: 0.8rem;
}
div[data-index="0"] .form-field-wrapper.z-10 > .block.w-full > .mt-6 > .themed-element-form-title-text.themed-element-form-accent {
  flex-direction: column;
}

div[data-index="0"] .form-field-wrapper.z-10 > .block.w-full > .mt-6 > .themed-element-form-title-text.themed-element-form-accent > div {
  margin-bottom: 5px;
}

div[data-index="0"] .editor h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 27px;
  letter-spacing: 1px;
  font-size: 28px !important;
}

/* Response Summary on the last page */
div[data-index="0"] .rounded-md.themed-element.undefined > .h-full.w-full > .min-h-min  .themed-element.mt-16.themed-element-form-background > .p-6.items-center.border-b.themed-element.themed-element-form-accent {
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

/* Response Summary on the last page */
div[data-index="0"] .rounded-md.themed-element.undefined > .h-full.w-full > .min-h-min  .themed-element.mt-16.themed-element-form-background  .p-6.items-center.border-b.themed-element.themed-element-form-accent {
  display: grid;
  grid-template-columns: 5fr 1fr;
 
}

div[data-index="0"] .rounded-md.themed-element.undefined > .h-full.w-full > .min-h-min  .themed-element.mt-16.themed-element-form-background  .p-6.items-center.border-b.themed-element.themed-element-form-accent > div:nth-child(1) {
      grid-column: 1 / -1; 
}


.rounded-md > .h-full.w-full .ProseMirror > p > strong  {
  white-space: nowrap;
}


/* Transportation Pages */

.mb-2.break-words.themed-element.themed-element-form-text {
  white-space: pre-line;
  word-break: break-word;
  font-feature-settings: "liga" 0;
  margin-bottom: 2rem;
  margin-top: -1rem;
  align-self: center;
}

.form-field-wrapper .block.w-full > .pt-2.pl-2 {
  padding-top: 1rem;
}

.form-field-wrapper
  .block.w-full
  > .pt-2.pl-2
  a
  .themed-element-form-text
  button {
  padding-top: 5px;
}

.themed-element-form-text
  .rounded-md.themed-element-form-background
  .space-x-2 {
  flex-direction: column;
}

.themed-element-form-text
  .rounded-md.themed-element-form-background
  .space-x-2
  > div:nth-child(2) {
  margin-left: 0;
  margin-top: 10px;
}

.themed-element-form-background:has(input) .px-6.py-2 {
  padding-left: 0;
  padding-right: 0;
}
