@use "@courtneyring/components-library/styles" as lib;


.block {
  margin-bottom: 50px;

  h2 {
    text-align: center;
  }
}

.button {
  margin-bottom: 15px;
  font-style: italic;
  font-weight: 400 !important;
}

.icon {
  margin-left: 3px !important;
  margin-right: 10px;
}
