@use "@courtneyring/components-library/styles" as lib;

.root {
  --container-padding: 20px ;
}

.block {
  margin-bottom: 50px;

  h2 {
    text-align: center;
  }
}

.button {
  margin-bottom: 15px;
}

.icon {
  margin-left: 0px !important;
  margin-right: 10px;
}
