@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parisienne&display=swap");

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --color-primary-dark: rgb(50, 59, 67);
  --color-primary-medium: rgb(76, 91, 105);
  --color-primary-light: rgb(144, 152, 160);
  --color-neutral-dark: #535353;
  --color-neutral-medium: #bfbfbf;
  --color-neutral-light: #e2e0e0;
  --color-white: #f5f5f5;
  --color-secondary: #e5d9e2;

  --font-primary: "Lato", sans-serif;
  --font-secondary: "Parisienne", cursive;
}

body {
  margin: 0;
}