@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Parisienne&display=swap');

* {
  box-sizing: border-box;
  font-family: "Crimson Pro",'Times New Roman', Times, serif;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

:root {
  --color-primary-dark: rgb(50, 59, 67);
  --color-primary-medium: #4C5B69;
  --color-primary-light: #9098A0;
  --color-neutral-dark: #302f2f;
  --color-neutral-medium: #E0E0E0;
  --color-neutral-light: #e2e0e0;
  --color-white: #F5F5F5;
  --color-secondary: #854B5B;

  --font-primary: "Crimson Pro", 'Times New Roman', Times,;
  --font-secondary: "Parisienne", cursive;
}

body {
  margin: 0;
}

strong {
  font-weight: 600;
}

p, h1, h2 {
  margin: 0;
}