@use "@courtneyring/components-library/styles" as lib;

.home {
  --floating-words-hero-content-top: 5vh;

}

.root {
  --navbar-height: 50px;
}

.registry {
  --image-container-height: 300px;
  --promo-group-gap: 50px;
}

@include lib.xs {
  .root {
      --navbar-height: 60px;
    }
}

@include lib.sm {
  .root {
    --navbar-height: 60px;
  }
}

@include lib.md {
  .root {
    --navbar-height: 40px;
  }
}

@include lib.landscape-or('md', 'lg') {
    .root {
        --navbar-height: 40px;
      }
  .home {
    --floating-words-hero-content-top: 30px;
    --floating-words-hero-content-right: 30px;
  }
}

@include lib.lg {
  .root {
    --navbar-height: 55px;
  }
}

@include lib.xl {
  .root {
    --navbar-height: 80px;
  }
    .home {
      --floating-words-hero-content-top: 50px;
      --floating-words-hero-content-right: 50px;
    }
}

@include lib.xxl {
  .home {
    --floating-words-hero-content-top: 70px;
      --floating-words-hero-content-right: 70px;
  }
}