.toggleWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.toggle {

}

.download {
    font-size: .9rem;
    display: flex;
    align-items: center !important;
}

.actions {
    display: flex;
    justify-content: space-between;
        margin-bottom: 15px;
}